.color_none {
  color: #fafafa;
}
.color_blue {
  color: #0068b9;
}
.color_green {
  color: #20ca00;
}
.color_red {
  color: #f73d3d;
}
.color_brown {
  color: #86611e;
}
.color_purple {
  color: #7f27cf;
}
.color_orange {
  color: #ffa12a;
}
.color_yellow {
  color: #f8c318;
}
.color_light_green {
  color: #61dd00;
}
.color_teal {
  color: #00ac90;
}
.color_light_cyan {
  color: #23e6b7;
}
.color_light_blue {
  color: #7ddcfa;
}
.color_pink {
  color: #ff7ccb;
}
.color_grey {
  color: #a5a5a5;
}
.color_light_grey {
  color: #c9c9c9;
}
html,
body {
  height: 100%;
  background-image: linear-gradient(#313131, #131313);
  background-color: #2f2f2f;
  color: #c6c6c6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c6c6c6;
  text-shadow: 0px 1px 0px #1d1d1d;
}
a {
  text-shadow: 0px 1px 0px #1d1d1d;
}
input[type=text] {
  color: #6e6e6e;
  background: #202020;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  border-radius: 4px;
  border: none;
  outline: none;
}
input[type=text]:focus {
  background: $#1a1a1a;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  outline: none;
}
body {
  color: #c6c6c6;
  text-shadow: 0px 1px 0px #1d1d1d;
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.top-bar-section ul li > a.hidden {
  display: none;
}
.hidden {
  display: none;
}
.rtext {
  text-align: right;
}
.ltext {
  text-align: left;
}
.ctext {
  text-align: center;
}
.button {
  background: #00aa1b;
}
.button:hover {
  background: #3a3a3a;
}
.button:focus {
  background: #e3e3e3;
}
.button.disabled {
  background: #e3e3e3;
}
.alert-box {
  display: none;
  color: #fafafa;
}
.alert-text {
  font-size: 1.2em;
}
.alert-container {
  margin: 30px 0;
}
.alert-container.fixed {
  width: 40%;
  left: 0;
  right: 0;
}
.alert-box.info {
  background: #3cb2e2;
  color: #fafafa;
}
div.wrap > div {
  height: 100%;
}
.top-bar {
  height: 48px;
  border-bottom: 3px solid #2b2b2b;
}
#logo {
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
  font-size: 3em;
  color: #00e224;
  background: -webkit-linear-gradient(#00ec26, #00ac1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
#conn_status {
  border-right: 1px solid #3d3d3d;
  padding: 14px 10px;
}
#conn_status span {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: block;
}
#conn_status .disconnected {
  background: #ff2727;
}
#conn_status .connected {
  background: #2cda15;
}
#conn_status .reconnecting {
  background: #e9d923;
}
form.connect {
  margin: 20px;
}
#connectModal,
#changeNickModal {
  background-color: #252525;
  border: 1px solid #111111;
}
h2.intro {
  font-size: 4em;
  margin: 80px 0;
  color: #eeeeee;
  text-shadow: 3px 3px 0 #1d1d1d;
}
hr.intro-sep {
  padding: 0;
  border: none;
  border-top: medium double #363636;
  text-align: center;
  margin: 60px 0;
}
hr.intro-sep:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.2em;
  font-size: 4em;
  padding: 0 0.25em;
  background: #252525;
}
#channel-containers ul.popular-networks {
  text-align: center;
}
#channel-containers ul.popular-networks li {
  display: inline;
  margin: 0 10px;
}
#channel-list {
  margin-top: 20px;
}
#channel-list li {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}
#channel-list li a {
  background: #131313;
  color: #fafafa;
  display: inline-block;
  border-radius: 3px 0 0 3px;
}
#channel-list li:first-child a {
  border-radius: 3px;
}
#channel-list li span.part {
  display: inline-block;
  vertical-align: top;
  padding: 4px 5px;
  border-radius: 0 3px 3px 0;
  background: #090909;
  cursor: pointer;
}
#channels li a.channelLink.selected {
  background: #636363;
  color: #fafafa;
}
#channel-list span.msg-counter {
  position: absolute;
  left: -5px;
  top: -7px;
  display: block;
  background: #f83a3a;
  border-radius: 50%;
  font-size: .7em;
  padding: 2px 7px;
}
div.channel {
  margin: 20px 0 0;
  height: 100%;
}
div.channel .messages {
  overflow: auto;
  height: 100%;
}
div.channel[data-channel="main"] .messages {
  border-right: none;
}
div.channel[data-channel='#root'] .messages {
  border-right: none;
}
#channel-containers .message {
  border-bottom: 1px solid #121212;
  border-top: 1px solid #333333;
  padding: 7px;
  font-size: .9em;
}
#channel-containers .message:first-child {
  border-top: none;
}
#channel-containers .message:last-child {
  border-bottom: none;
}
span.timestamp {
  padding-right: 5px;
  border-right: 1px solid #616161;
  color: #616161;
  text-shadow: 1px 2px 0 #121212;
}
span.nick {
  padding-left: 5px;
  font-weight: bold;
  text-shadow: 1px 2px 0 #121212;
}
span.text {
  padding-left: 5px;
  text-shadow: 1px 2px 0 #121212;
}
.message.hilited {
  background: #161616;
}
.message.hilited .text {
  color: #ff2a2a;
}
.message.error {
  color: #f83a3a;
}
div.names {
  overflow: auto;
}
div.names ul {
  font-size: .9em;
}
li.nick {
  font-weight: bold;
}
li.nick .mode {
  color: #00aa1b;
}
li.names-count {
  text-align: right;
}
li.names-count .num {
  font-weight: bold;
}
div.topic {
  padding: 5px;
  margin-bottom: 10px;
  min-height: 10px;
  background: #222222;
  font-weight: bold;
  border-radius: 3px;
  color: #eeeeee;
}
input[name=send] {
  padding: 10px;
  margin: 0 3px;
  border-radius: 4px;
}
footer {
  border-top: 1px solid #e3e3e3;
  height: 100px;
}
div.wrap:after {
  height: 100px;
}
