extends layout

block content

  div.small-12.columns
      div.row
        div.small-centered.columns
          div.row
            div.fixed
              nav(class="top-bar", data-topbar, role="navigation")
                ul.title-area
                  li.name
                    h1#logo #chat

                section.top-bar-section
                  ul.right
                    li
                      a(id="connect" data-reveal-id="connectModal") connect
                    li.has-dropdown
                    li
                      a(id="report", href="https://github.com/tsoporan/chat/issues/new", target="_blank") report bug

                div(id="connectModal", class="reveal-modal radius", data-reveal)
                    a.close-reveal-modal &#215;
                    h3.ctext connect
                    form(class="connect", data-abide="ajax")
                        div.input-wrapper
                            label(for="server")
                                input(type="text", placeholder="ex. irc.freenode.net:6667", name="server", required)
                            small.error Server name is required!
                        div.input-wrapper
                            label(for="channels")
                                input(type="text", placeholder="ex. ##linux, #gentoo, #archlinux", name="channels")
                        div.input-wrapper
                            label(for="nickName")
                                input(type="text", placeholder="ex. Zaphod_Beeblebrox", name="nickName")
                        div.input-wrapper.ctext
                            input(type="submit" value="connect", name="connect", class="button radius")
                div(id="changeNickModal", class="reveal-modal radius", data-reveal)
                    a.close-reveal-modal &#215;
                    h3.ctext change nick
                    form(class="changenick", data-abide="ajax")
                        div.input-wrapper
                            label(for="newNick")
                                input(type="text", placeholder="ex. zaphod_beeblebrox", name="newNick", required)
                            small.error Nick name is required!
                        div.input-wrapper.ctext
                            input(type="submit" value="change", name="changenick", class="button radius")

          div.row
            div.small-3.small-centered.columns.fixed.alert-container

            div.small-12.columns.wrap
                div#channels
                  ul#channel-list.no-bullet

                  div#channel-containers
                      div.intro
                          h2.intro.ctext Lets chat. Connect to get started!

                          p.ctext First time? Choose from some of these networks:

                          ul.popular-networks
                            li.hashbang
                              div.button.radius hashbang
                            li.freenode
                              div.button.radius freenode
                            li.quakenet
                              div.button.radius quakenet
                            li.efnet
                              div.button.radius efnet

                form.send.hidden
                  div.row.collapse
                    div.small-11.columns
                      input(type="text", placeholder="Write your message here", name="message")
                    div.small-1.columns
                      input(type="submit", value="Send", name="send", class="button postfix")
