doctype html
html(lang="en", ng-app="chatApp")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title

    block assets
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lobster")

        script(src="/build/build.min-da2d2912.js")
        link(rel="stylesheet", href="/build/build.min-e5f362bc.css")

  body
    block content

    block scripts
