doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title

    block assets

        // CSS
        link(rel="stylesheet", href=stylesheetPath)
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lobster")

        // Javascripts
        script(src=javascriptPath)

  body
    block content

    block scripts
        script.
            $(document).foundation();
