.color_none,
.color_black {
  color: #000000;
}
.color_blue {
  color: #0068b9;
}
.color_green {
  color: #20ca00;
}
.color_red {
  color: #f73d3d;
}
.color_brown {
  color: #86611e;
}
.color_purple {
  color: #7f27cf;
}
.color_orange {
  color: #ffa12a;
}
.color_yellow {
  color: #f8c318;
}
.color_light_green {
  color: #61dd00;
}
.color_teal {
  color: #00ac90;
}
.color_light_cyan {
  color: #23e6b7;
}
.color_light_blue {
  color: #7ddcfa;
}
.color_pink {
  color: #ff7ccb;
}
.color_grey {
  color: #a5a5a5;
}
.color_light_grey {
  color: #c9c9c9;
}
html,
body {
  height: 100%;
  background: #fafafa;
}
body {
  color: #3a3a3a;
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.top-bar-section ul li > a.hidden {
  display: none;
}
.hidden {
  display: none;
}
.rtext {
  text-align: right;
}
.ltext {
  text-align: left;
}
.ctext {
  text-align: center;
}
.button {
  background: #ff7200;
}
.button:hover {
  background: #3a3a3a;
}
.button:focus {
  background: #e3e3e3;
}
.button.disabled {
  background: #e3e3e3;
}
.alert-box {
  display: none;
}
.alert-text {
  font-size: 1.2em;
}
/* Header styles */
#logo {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  color: #ff7200;
}
form.connect {
  margin: 20px;
}
h2.intro {
  font-size: 4em;
  color: #3a3a3a;
}
.alert-container {
  margin: 30px 0;
}
.alert-container.fixed {
  width: 40%;
  left: 0;
  right: 0;
}
hr.intro-sep {
  padding: 0;
  border: none;
  border-top: medium double #e3e3e3;
  color: #e3e3e3;
  text-align: center;
  margin: 60px 0;
}
hr.intro-sep:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.2em;
  font-size: 4em;
  padding: 0 0.25em;
  background: #fafafa;
}
#channel-containers ul.popular-networks {
  text-align: center;
}
#channel-containers ul.popular-networks li {
  display: inline;
  margin: 0 10px;
}
/* Channel list styles */
#channel-list {
  margin-top: 20px;
}
#channel-list li {
  display: inline-block;
  margin: 0 5px;
}
#channels li a {
  background: #e3e3e3;
  color: #3a3a3a;
}
#channels li a.channelLink.selected {
  background: #3a3a3a;
  color: #fafafa;
}
/* Channel styles */
div.channel {
  height: 500px;
  margin: 20px 0;
  overflow: auto;
}
/* Message styles */
div.channel .messages {
  border-right: 1px solid #e3e3e3;
}
div.channel[data-channel='#root'] .messages {
  border-right: none;
}
#channel-containers .message {
  border-bottom: 1px solid #e3e3e3;
  padding: 5px;
}
span.timestamp {
  padding-right: 5px;
}
span.nick {
  padding-left: 5px;
  border-left: 1px solid #e3e3e3;
  font-weight: bold;
}
span.text {
  padding-left: 5px;
}
.message.system_msg {
  font-style: italic;
}
.message.hilited {
  background: #d5ffc2;
}
/* Msg send form styles */
input[name=send] {
  padding: 10px;
}
/* Footer styles */
footer {
  border-top: 1px solid #e3e3e3;
  height: 100px;
}
div.wrap:after {
  height: 100px;
}
/* Names sidebar styles */
li.nick {
  font-weight: bold;
}
li.nick .mode {
  color: #ff7200;
}
/* Topic styles */
div.topic {
  padding: 5px;
  margin-bottom: 10px;
  min-height: 10px;
  background: #e3e3e3;
  font-weight: bold;
}
div.topic span {
  font-style: italic;
}
